/*25-04-15---->>>>*/
@media(min-width:768px){

	header{
		padding-top: 1.1em;
		max-height: 67px;
		background: rgb(72, 176, 226);/*11-18-15-turash*/
	}
}

@media(max-width:767px){

	  header{  /*25-04-15*/
		background: rgb(72, 176, 226);  /*11-18-15-turash*/
		padding-top: .2em;
		min-height:86px;  /*05-10-15-Turash*/
		max-height: 100px; /*07-01-15*/ 
	  }
	  /*end of 25-04-15*/
}

::-webkit-scrollbar {

    width: 10px;
}
 
::-webkit-scrollbar-track {

    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    background-color: transparent;
}

/*terms page*/

.terms-list-group>a,.terms-description-list>h3{  /*05-26-15*/
	font-family: 'Source Sans Pro', sans-serif;
}

.terms-section{
	position:relative;
	top:62px;
}

.list-group-item-02{/*05-26-15*/
	background-color: rgb(73, 163, 228);
	border: 1px solid #3988BF;
	padding: 8px 12px;
}

a.list-group-item-02 {
  color: #FFFFFF;
}

@media(max-width:767px){

	.terms-list{    /*06-30-15*/
		background: #2c3a49;
	    overflow-x: hidden;
        overflow-y: auto;
	    position:fixed;
	    bottom:0;
	    top:80px;
    }

    .list-group-item-02.active{
		background-color: rgb(255, 249, 235);
	    border-bottom: 3px solid #2c3a49;
	    color:rgb(65, 138, 176);
	    font-size:1em;
    }

    .list-group-item-02{
    	font-size: .9em;
    }
}

@media(min-width:768px){

	.terms-list{/*06-30-15*/
		background: rgba(51, 131, 183, 0.63) url(../img/stripBG.png);
		overflow-x: hidden;
		overflow-y: auto;
		display: block;
		position:fixed;
		bottom:0;
		top:67px;
	}

    .list-group-item-02.active{
		background-color: rgb(255, 255, 255);
		border-bottom: 3px solid #2c3a49;
		color:rgb(65, 138, 176);
		font-size:1.5em;
    }

    .terms-description-list{
    	max-width: 90%;
    	margin:auto;
    }
}

.terms-description{/*05-26-15*/
	background: rgb(255, 255, 255);
	word-wrap: break-word;
}

.terms-list-group{
	margin-top:15px;
}

.list-group-item-02.active:hover,a.list-group-item-02:hover{
	background-color:#2c3a49;
	border-color: transparent;
	color:white;
}

.terms-description-list>h3{
	color: rgb(65, 138, 176);
	border-bottom: 3px solid #787979;
	padding: .4em;
}

.terms-description-list>p{
	color: #555;
	padding: .4em .8em .4em .8em;
}

li{    /*05-26-15*/
	font-family: 'Source Sans Pro', sans-serif;
}

hr{
    border-top: 1px solid #CFCFCF;
}

.terms-description-list>p::first-letter{
	font-size:1.4em;
}

/*end of 25-04-15*/


/*Edited by Joy 22-05-15*/

.checkbox-index{

    font-family: 'Source Sans Pro', sans-serif;
}

.checkbox-index{

    background: rgb(225, 214, 199);
    padding: .5em;
    max-width: 300px;
    margin: 20px auto 0;
    border-radius: 4px;
}

.fa-facebook{

	margin-left: 10px;
        background: #3a5795;
	padding-left: 9px;
	padding-top: 4px;
	padding-right: 4px;
	border-radius: 3px;
	position: relative;
	top: 2px;
}

/**05-27-15-Turash-Nice cloudy evening, now I have to do with the rest of 
the modifications in all pages**/

@media(min-width:1200px){

	.terms-leftward{

	    position: relative;
	    left: 26%;
	}
}

@media(min-width:768px) and(max-width:1199px){
	
	.terms-leftward{

	    position: relative;
	    left: 26%;
	}
}

.beta{

  color:#fff;
  font-family: 'Ubuntu', sans-serif;
  margin-left:6px;
  font-size:small;
}


.emojione{
	width:18px;
	margin-bottom:5px;
}

/*rest of the work*/
/*11-23-15*/

.list-group-item-02:first-child {
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
}

.list-group-item-02:last-child {
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
}